- @section = "documentation"
- @subsection = "videos"

- content_for :sidebar do
  %div.callout
    %p
      The entire <strong><a href="#">Pro Git book</a></strong> written by Scott Chacon is available to <a href="#">read online for free</a>. Dead tree versions are available on <a href="#">Amazon.com</a>.

%div#main
  %h1 Videos

  %p
    A short introductory paragraph here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.

  %div.two-column
    %div.column-left
      %ul.video-thumbnails
        %li
          =link_to(image_tag('tmp/screencast-thumbnail.png'))
          %h4= link_to "Name of this Screencast"
          %p.description
            <strong>Length:</strong> 7:18

        %li
          =link_to(image_tag('tmp/screencast-thumbnail.png'))
          %h4= link_to "Name of this Screencast"
          %p.description
            <strong>Length:</strong> 7:18

        %li
          =link_to(image_tag('tmp/screencast-thumbnail.png'))
          %h4= link_to "Name of this Screencast"
          %p.description
            <strong>Length:</strong> 7:18

        %li
          =link_to(image_tag('tmp/screencast-thumbnail.png'))
          %h4= link_to "Name of this Screencast"
          %p.description
            <strong>Length:</strong> 7:18

    %div.column-right
      %ul.video-thumbnails
        %li
          =link_to(image_tag('tmp/screencast-thumbnail.png'))
          %h4= link_to "Name of this Screencast"
          %p.description
            <strong>Length:</strong> 7:18

        %li
          =link_to(image_tag('tmp/screencast-thumbnail.png'))
          %h4= link_to "Name of this Screencast"
          %p.description
            <strong>Length:</strong> 7:18

        %li
          =link_to(image_tag('tmp/screencast-thumbnail.png'))
          %h4= link_to "Name of this Screencast"
          %p.description
            <strong>Length:</strong> 7:18
            
        %li
          =link_to(image_tag('tmp/screencast-thumbnail.png'))
          %h4= link_to "Name of this Screencast"
          %p.description
            <strong>Length:</strong> 7:18
